<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>姓名:</string>
		<key>subtitle</key>
		<string></string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>maxTextLength</key>
		<integer>0</integer>
		<key>placeholder</key>
		<string>请填写姓名</string>
		<key>propertyKey</key>
		<string>name</string>
		<key>enabled</key>
		<true/>
		<key>hidenIndicator</key>
		<true/>
		<key>editabled</key>
		<true/>
		<key>required</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>电话:</string>
		<key>subtitle</key>
		<string></string>
		<key>keyboardType</key>
		<integer>4</integer>
		<key>maxTextLength</key>
		<integer>11</integer>
		<key>placeholder</key>
		<string>请填写电话</string>
		<key>propertyKey</key>
		<string>mobile</string>
		<key>enabled</key>
		<true/>
		<key>hidenIndicator</key>
		<true/>
		<key>editabled</key>
		<true/>
		<key>required</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>年龄:</string>
		<key>subtitle</key>
		<string></string>
		<key>keyboardType</key>
		<integer>4</integer>
		<key>maxTextLength</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string>请输入年龄</string>
		<key>propertyKey</key>
		<string>age</string>
		<key>enabled</key>
		<true/>
		<key>hidenIndicator</key>
		<true/>
		<key>editabled</key>
		<true/>
		<key>required</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>身份证号码:</string>
		<key>subtitle</key>
		<string></string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>maxTextLength</key>
		<integer>18</integer>
		<key>placeholder</key>
		<string>请输入身份证号码</string>
		<key>propertyKey</key>
		<string>carId</string>
		<key>enabled</key>
		<true/>
		<key>hidenIndicator</key>
		<true/>
		<key>editabled</key>
		<true/>
		<key>required</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>行业:</string>
		<key>subtitle</key>
		<string></string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>maxTextLength</key>
		<integer>0</integer>
		<key>placeholder</key>
		<string>请输入行业</string>
		<key>propertyKey</key>
		<string>workType</string>
		<key>enabled</key>
		<true/>
		<key>hidenIndicator</key>
		<true/>
		<key>editabled</key>
		<true/>
		<key>required</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>籍贯:</string>
		<key>subtitle</key>
		<string></string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>maxTextLength</key>
		<integer>0</integer>
		<key>placeholder</key>
		<string>请输入户口所在地</string>
		<key>propertyKey</key>
		<string>reside</string>
		<key>enabled</key>
		<true/>
		<key>hidenIndicator</key>
		<true/>
		<key>editabled</key>
		<true/>
		<key>required</key>
		<true/>
	</dict>
</array>
</plist>
