<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>价格/天</string>
		<key>subtitle</key>
		<string></string>
		<key>placeholder</key>
		<string>请填写工价费用</string>
		<key>required</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>车费/辆</string>
		<key>subtitle</key>
		<string></string>
		<key>placeholder</key>
		<string>请填写车辆费用</string>
		<key>required</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>用工人数</string>
		<key>subtitle</key>
		<string></string>
		<key>placeholder</key>
		<string>请填写用工人数</string>
		<key>required</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>用工天数</string>
		<key>subtitle</key>
		<string></string>
		<key>placeholder</key>
		<string>请填写用工天数</string>
		<key>required</key>
		<true/>
	</dict>
</array>
</plist>
