<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>头像</string>
		<key>subTitle</key>
		<string></string>
		<key>perPlace</key>
		<string></string>
		<key>ishides</key>
		<false/>
		<key>isMust</key>
		<false/>
		<key>isHidesAvatar</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>昵称</string>
		<key>subTitle</key>
		<string></string>
		<key>perPlace</key>
		<string>请输入昵称</string>
		<key>ishides</key>
		<false/>
		<key>isMust</key>
		<false/>
		<key>isHidesAvatar</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>性别</string>
		<key>subTitle</key>
		<string></string>
		<key>perPlace</key>
		<string>请选择性别</string>
		<key>ishides</key>
		<false/>
		<key>isMust</key>
		<false/>
		<key>isHidesAvatar</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>手机号</string>
		<key>subTitle</key>
		<string></string>
		<key>perPlace</key>
		<string>手机号显示</string>
		<key>ishides</key>
		<true/>
		<key>isMust</key>
		<true/>
		<key>isHidesAvatar</key>
		<true/>
	</dict>
</array>
</plist>
